@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 13%;
        --background-light: 0 0% 19%;
        --foreground: 0 0% 87%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 140 100% 47%;
        --primary-foreground: 0 0% 13%;
        --secondary: 193 100% 47%;
        --secondary-foreground: 0 0% 13%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 71%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 24%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    ::-webkit-scrollbar {
        display: none;
    }
    * {
        @apply border-border !cursor-none;
    }
    body {
        @apply bg-background text-foreground font-roboto-flex;
    }
}

@layer components {
    .grid {
        @apply gap-[25px];
    }

    .markdown-text ul {
        @apply pl-5 mt-2 list-disc;
    }
}
